<body style="background-color: whitesmoke;background-image:url(https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-repeat:no-repeat;width: 100%; background-size: cover ">	

    {% include  "./Header.html"%}
    <br>
    <div class="modal-dialog">
            
        <form method="POST">
                {% if form.error  %}
                <p style="color: red;text-align: center;"> {{form.message}}</p>

                {% else %}
                <p style="color:green ;"> {{form.message}}</p>
                {% endif %}
            <div class="modal-content" style=" width: 500px;background-color: rgba(255, 255, 255, 0.212);">
                    <div class="modal-header text-center">
                            <h2 class="modal-title " style="padding-left: 125px;">Forget Password</h2>
                        </div>
            <div class="card-body">
                <div class="form-group row">
                    
            
                    <label class="col-lg-3 form-control-label">Login Id<span style="color: red">*</span> </label>
                    <div class="col-lg-8">
                        <input class="form-control" name="login_id" value="{{form.login_id}}" class="form-control" placeholder=" Enter your Email Id">
                        <span style="color: red;"> {{form.inputError.login_id}} </span>                </div>
                </div>
                <div class="form-group row">
                        <div class="col-lg-3"></div>
    
                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-success">Send My Password 
                            
                        </button>
                    </div>
                </div>
            </div>
        </div>    
        </form>
    </div>
    {% include  "./Footer.html"%}