{% load static %}
{% include "./header.html"%}
<html lang="en">
<head>
    
    <title>Home</title>
</head>
<body style="background-color:whitesmoke; background-image:url(https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
);background-repeat:no-repeat ; width : 100%; background-size:cover">
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">
        <img src="{% static '/images/img3.png'%}" class="mx-auto d-block" style="width:35%"><br>

    </h1>
</div>
    </body>
    {% include "./footer.html"%}
</html>