

{% include  "./Header.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <H2 style="padding-left: 400px;">MarksheetMeritList</H2>
        </div>
        <form method="POST">
            <div class="form-group row">
               
               
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-hover table-responsive-sm">
                    <thead class="thead-dark">
                        <th scope="row">ID</th>
                        <th scope="row">Roll No </th>
                        <th scope="row">Name</th>
                        <th scope="row">Physics </th>
                        <th scope="row">Chemistry </th>
                        <th scope="row">Maths </th>
                        <th scope="row">Total </th>
                        <th scope="row">Percentage </th>
                    </thead>
                    <tbody>
                        {% for e in pageList %}
                        <tr>
                            <td>{{form.index| add:forloop.counter0}}</td>
                            <td>{{e.rollNumber}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.physics}}</td>
                            <td>{{e.chemistry}}</td>
                            <td>{{e.maths}}</td>
                            <td>{{e.total}}</td>
                            <td>{{e.percentage|floatformat:2}}</td>
                            
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
</body>

</html>
{% include  "./Footer.html"%}