{% include  "./Header.html"%}
<div class="container" style="cursor: all-scroll;" >
    <body style="background-color: darkgray; background-image:url(https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-repeat: no-repeat; width: 100%; background-size: cover;">
    </body>
    <style>
        mark {
            background-color: #cacfcb9a;
           

        }
    </style>

    <div class="d-flex" style="margin-top:15%">
        
        <div class="mx-auto">
            <p>
                <h1><mark>"WELCOME TO ONLINE RESULT SYSTEM"</mark></h1>
            </p>
            <h3><center>{{form.message}}</center></h3>

        </div>
    </div>
</div>
{% include  "./Footer.html"%}
